[submodule "sparql-validation/testing/entsoe/application-profiles-library"]
	path = sparql-validation/testing/entsoe/application-profiles-library
	url = https://github.com/entsoe/application-profiles-library.git
